
.restaurant-information {
    background:rgb(211,211,211); 
    display: flex; 
    flex-direction: row;
    width: 100%;
}

.restaurant-details {
    padding: 2%;
    width: 69%;
}

.restaurant-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 31%;
}

.img-div {
    max-height: 300px;
    min-height: 200px;
}

.message-color {
    color: #6c6c6c;
}

  .category-items-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 40px;
  }
  
  .category-items-container {
    width: 40%;
    padding-left: 50px;
    padding-top: 25px;
    flex: 60%;
  }
  
  .category {
    padding-top: 20px;
  }
  
  .item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    flex-wrap: nowrap;
  }
  
  .item-left {
    flex: 60%;
    width: 100%;
    margin-right: 20px;
  }
  
  .item-right {
    flex: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .pricePerItem {
    float: right;
  }
  
  .addIcon {
    flex: 50%;
    padding-right: 100px;
  }
  
  .add-remove-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 30%;
  }
  
  .add-remove-button-hover:hover {
    background-color: #fdff81 !important;
  }
  
  .add-icon-plus-button {
    display: flex;
    padding: 0;
  }
  
  .cart-container {
    padding-left: 150px;
    padding-top: 25px;
    height: auto;
    width: 50%;
  }
  
  .cart-item {
    font-size: 16px;
    font-weight: lighter;
  }
  
  .cart-item-right {
    float: right;
  }
  
  .CardContent {
    padding: 10px;
  }
  
  .total-amount-section {
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
  }
  
  .checkout-button {
    margin-top: 15px;
  }
  
  .cart-item-list {
    padding-top: 20px;
  }
  
  .cart-item {
    margin-top: 3px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-weight: lighter;
  }
  
  .cart-item-left {
    flex: 50%;
  }
  
  .cart-item-centre {
    flex: 30%;
    font-weight: bold;
  }
  
  .cart-item-right {
    flex: 20%;
  }
  
  .checkout {
    width: 100%;
  }
  
  .item-name {
    padding-left: 12px;
    word-wrap: break-word;
  }
  

@media only screen and (max-width: 768px){
    .restaurant-information {
        width: 100%;
        flex-wrap: wrap;
    }
    .restaurant-image {
        width: 100%;
    }
    .restaurant-details {
        width: 100%;
        text-align: center
    }
    .img-div {
        max-width: 300px;
    }

      .category-items-cart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
      }
    
      .category-items-container {
        flex: 100%;
        width: 80%;
        font-size: 15px;
        margin: 10px;
        padding: 5px;
      }
    
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        width: 100%;
      }
    
      .item-left {
        flex: 50%;
        width: 100%;
      }
    
      .item-right {
        flex: 50%;
        width: 100%;
      }
    
      .cart-container {
        flex: 100%;
        width: 300px;
        padding: 10px 5px;
      }
    
      .cart-item {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
      }
    
      .removeIcon-cart {
        padding: 2px;
      }
    
      .addIcon {
        padding-right: 0px;
      }
    
      .addIcon-cart {
        padding: 2px;
      }
    
      .cart-item-left {
        flex: 40%;
        flex-wrap: wrap;
      }
    
      .add-remove-icon {
        flex: 30%;
      }
    
      .cart-item-centre {
        flex: 30%;
        font-weight: bolder;
        padding: 0 0;
      }
    
      .cart-item-right {
        flex: 30%;
      }
    
      .checkout-button {
        padding-left: 25px;
      }
    
      .item-name {
        padding-left: 2px;
      }
}