.app-header {
    width: 100%;
    background-color: #3d3d3d;
    color: white;
}

.logo-icon {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    margin-bottom: 10px;  
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.login-btn {
    margin-top: 10px;
    float: right;
    margin-right: 15px;
}

.form-control-container{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.form-control-registeration {
    width: 90%;
}

.form-control-login {
    width: 80%;
}

.dispBlock {
    display: block;
}

.dispNone {
    display: none;
}

.login-div {
    margin: 15% 40%;
    background: white;
    padding: 15px;
    border-radius: 3px;
}

.logged-in-user-first-name-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin: 15px 0px;
}

.header-login-btn-div {
    cursor: pointer;
    float: right;
}

.loggedInUserName-para {
    margin: 0px;
}

.account-options-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: white;
    border-style: solid;
    border-color: #cbb9b9;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px;
    padding: 10px;
    color: black;
    font-weight: 500;
    right: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 768px){ 
    .header-login-btn-div {
        cursor: pointer;
        float: left;
    }

    .login-btn {
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        margin-left: 5px;
    }
}